@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
  body {
   
  }
} */
textarea{
  resize: none;
}
.modal-backdrop {
  background-color: #0000005e;
}
.modal-dialog{
  height:calc(100% - 60px)
}
.modal-content {
  height: 600px;
  transform: translateY(20%);
}
.modal-body{
  height: 100%;
}
.modal-body > img{
  height: calc(100% - 34px);
}
